@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-family-sans: Satoshi, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --spacing-18: 4.5rem;
  --spacing-112: 28rem;
  --spacing-120: 30rem;
}
